# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mfinelli/setup-shfmt@v4
      - uses: actions/setup-node@v5
      - uses: denoland/setup-deno@v2
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@latest
        with:
          feature-gates: "PodLogsQuerySplitStreams=true"
      - name: Install Playwright Browsers
        run: |
          cd e2e/
          npm install
          npx playwright install --with-deps
      - uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version: "stable"
          cache: true
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task build:static
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
      - name: Task
        run: task
